---
title: 8000038 GDPR gyermek számla ellenőrzése
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 01/24/2019
ms.locfileid: "29473769"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="57717-102">Születési idő jelenik meg a Microsoft-fiók érvénytelen.</span><span class="sxs-lookup"><span data-stu-id="57717-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="57717-p101">A Microsoft nagyon komolyan veszi a fiók biztonsági. Lehet, hogy nemrég rendszer szülői hozzájárulást nyújt a Microsoft-fiók egy gyermek. Segítséget nyújtó szülői hozzájárulást vagy a születési Microsoft-fiók frissítése, lásd a [beleegyezést kor ellenőrzését](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="57717-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="57717-106">Tudjon meg többet a [beleegyezést és Microsoft alárendelt fiókokat](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="57717-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

