---
title: EDU-ellenőrzés
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205269"
---
# <a name="edu-verification"></a>EDU-ellenőrzés

A legtöbb esetben a tudományos jogosultsági kérelmekfeldolgozása 24-48 órán belül megfolyamatban. Egyes kérelmek alaposabb felülvizsgálatot igényelhetnek, és akár 10 munkanapot is igénybe vehetnek a feldolgozásuk. Miután elkészült, küldünk egy e-mailt az iskola jogosultsági állapotáról.

**Fontos** Ha a tartományba való belépés előtt kilépett az ellenőrző varázslóból, az ingyenes próbaidőszak során bármikor [folytathatja a tudományos ellenőrzési varázslót.](https://go.microsoft.com/fwlink/p/?linkid=2135255)

Ha ellenőrizni szeretné a tartomány állapotát, látogasson el a [Microsoft 365 felügyeleti központba.](https://go.microsoft.com/fwlink/p/?linkid=2024339) A kezdőlapon görgessen az aljára, és keresse meg a **Számlázási** kártyát. A **Számlázási** kártya az ellenőrzési folyamat állapotát jelzi (jóváhagyva, függőben, elutasítva vagy hozzáadható a tartományodhoz).

Ha a kérést elutasítják, olvassa el [a "Saját iskola nem jogosult" ( Az iskola nem jogosult) témakört. Most mit csináljak?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)