---
title: EDU-ellenőrzés
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205269"
---
# <a name="edu-verification"></a><span data-ttu-id="8cb21-102">EDU-ellenőrzés</span><span class="sxs-lookup"><span data-stu-id="8cb21-102">EDU verification</span></span>

<span data-ttu-id="8cb21-103">A legtöbb esetben a tudományos jogosultsági kérelmekfeldolgozása 24-48 órán belül megfolyamatban.</span><span class="sxs-lookup"><span data-stu-id="8cb21-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="8cb21-104">Egyes kérelmek alaposabb felülvizsgálatot igényelhetnek, és akár 10 munkanapot is igénybe vehetnek a feldolgozásuk.</span><span class="sxs-lookup"><span data-stu-id="8cb21-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="8cb21-105">Miután elkészült, küldünk egy e-mailt az iskola jogosultsági állapotáról.</span><span class="sxs-lookup"><span data-stu-id="8cb21-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="8cb21-106">**Fontos** Ha a tartományba való belépés előtt kilépett az ellenőrző varázslóból, az ingyenes próbaidőszak során bármikor [folytathatja a tudományos ellenőrzési varázslót.](https://go.microsoft.com/fwlink/p/?linkid=2135255)</span><span class="sxs-lookup"><span data-stu-id="8cb21-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="8cb21-107">Ha ellenőrizni szeretné a tartomány állapotát, látogasson el a [Microsoft 365 felügyeleti központba.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="8cb21-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="8cb21-108">A kezdőlapon görgessen az aljára, és keresse meg a **Számlázási** kártyát.</span><span class="sxs-lookup"><span data-stu-id="8cb21-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="8cb21-109">A **Számlázási** kártya az ellenőrzési folyamat állapotát jelzi (jóváhagyva, függőben, elutasítva vagy hozzáadható a tartományodhoz).</span><span class="sxs-lookup"><span data-stu-id="8cb21-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="8cb21-110">Ha a kérést elutasítják, olvassa el [a "Saját iskola nem jogosult" ( Az iskola nem jogosult) témakört. Most mit csináljak?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="8cb21-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>