---
title: Oktatási igazolás
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814374"
---
# <a name="edu-verification"></a>Oktatási igazolás

Az oktatási jogosultsági kérelmeket a legtöbb esetben 24–48 órán belül feldolgozzuk. Egyes kérelmek alaposabb vizsgálatot igényelnek, és a feldolgozásuk akár 10 munkanapot is igénybe vehet. Miután elkészült, e-mailben értesítjük az iskolai jogosultsági állapotáról.

**Fontos** Ha egy tartomány megadása előtt kilépett az ellenőrző varázslóból, az ingyenes próbaidőszak alatt bármikor[ folytathatja az oktatási ellenőrző varázslót](https://go.microsoft.com/fwlink/p/?linkid=2135255).

Ha szeretné ellenőrizni tartománya állapotát, keresse fel a [Microsoft 365 Felügyeleti központot](https://go.microsoft.com/fwlink/p/?linkid=2024339). A kezdőlapon görgessen a képernyő aljára, és keresse meg a **Számlázás** kártyát. A **Számlázás** kártya jelzi az ellenőrzési folyamat állapotát (jóváhagyva, függőben, elutasítva vagy tartomány hozzáadása).

Ha a kérelmét elutasítják, olvassa el a következő fejezetet: [Az iskolám nem jogosult. Mit tegyek most?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)