---
title: EDU-ellenőrzés
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814374"
---
# <a name="edu-verification"></a>EDU-ellenőrzés

A legtöbb esetben a jogosultsági kérelmek feldolgozására 24–48 órán belül van szükség. Egyes kérések alaposabb áttekintést igényelnek, és akár 10 munkanapot is igényelnek a feldolgozásig. A művelet befejezése után e-mailben értesítjük az iskola jogosultsági állapotáról.

**Fontos** Ha a tartomány megadása előtt kilépt az [](https://go.microsoft.com/fwlink/p/?linkid=2135255) ellenőrző varázslóból, az ingyenes próbaidőszak során bármikor folytathatja az iskolai hitelesítési varázslót.

Ha ellenőrizni szeretné a tartománya állapotát, menjen a [Microsoft 365 Felügyeleti központba.](https://go.microsoft.com/fwlink/p/?linkid=2024339) A kezdőlapon görgessen le, és keresse meg a **Számlázás kártyát.** A **Számlázási** kártya az ellenőrzési folyamat állapotát jelzi (jóváhagyva, függőben, elutasítva, vagy tartomány hozzáadása).

Ha a kérelmét elutasította a rendszer, tekintse meg [Az iskolám nem jogosult. Mit tegyek?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)