---
title: Oktatási igazolás
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814374"
---
# <a name="edu-verification"></a><span data-ttu-id="e0974-102">Oktatási igazolás</span><span class="sxs-lookup"><span data-stu-id="e0974-102">EDU verification</span></span>

<span data-ttu-id="e0974-103">Az oktatási jogosultsági kérelmeket a legtöbb esetben 24–48 órán belül feldolgozzuk.</span><span class="sxs-lookup"><span data-stu-id="e0974-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="e0974-104">Egyes kérelmek alaposabb vizsgálatot igényelnek, és a feldolgozásuk akár 10 munkanapot is igénybe vehet.</span><span class="sxs-lookup"><span data-stu-id="e0974-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="e0974-105">Miután elkészült, e-mailben értesítjük az iskolai jogosultsági állapotáról.</span><span class="sxs-lookup"><span data-stu-id="e0974-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="e0974-106">**Fontos** Ha egy tartomány megadása előtt kilépett az ellenőrző varázslóból, az ingyenes próbaidőszak alatt bármikor[ folytathatja az oktatási ellenőrző varázslót](https://go.microsoft.com/fwlink/p/?linkid=2135255).</span><span class="sxs-lookup"><span data-stu-id="e0974-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="e0974-107">Ha szeretné ellenőrizni tartománya állapotát, keresse fel a [Microsoft 365 Felügyeleti központot](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="e0974-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="e0974-108">A kezdőlapon görgessen a képernyő aljára, és keresse meg a **Számlázás** kártyát.</span><span class="sxs-lookup"><span data-stu-id="e0974-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="e0974-109">A **Számlázás** kártya jelzi az ellenőrzési folyamat állapotát (jóváhagyva, függőben, elutasítva vagy tartomány hozzáadása).</span><span class="sxs-lookup"><span data-stu-id="e0974-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="e0974-110">Ha a kérelmét elutasítják, olvassa el a következő fejezetet: [Az iskolám nem jogosult. Mit tegyek most?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="e0974-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>