---
title: EDU-ellenőrzés
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814374"
---
# <a name="edu-verification"></a><span data-ttu-id="72290-102">EDU-ellenőrzés</span><span class="sxs-lookup"><span data-stu-id="72290-102">EDU verification</span></span>

<span data-ttu-id="72290-103">A legtöbb esetben a jogosultsági kérelmek feldolgozására 24–48 órán belül van szükség.</span><span class="sxs-lookup"><span data-stu-id="72290-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="72290-104">Egyes kérések alaposabb áttekintést igényelnek, és akár 10 munkanapot is igényelnek a feldolgozásig.</span><span class="sxs-lookup"><span data-stu-id="72290-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="72290-105">A művelet befejezése után e-mailben értesítjük az iskola jogosultsági állapotáról.</span><span class="sxs-lookup"><span data-stu-id="72290-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="72290-106">**Fontos** Ha a tartomány megadása előtt kilépt az [](https://go.microsoft.com/fwlink/p/?linkid=2135255) ellenőrző varázslóból, az ingyenes próbaidőszak során bármikor folytathatja az iskolai hitelesítési varázslót.</span><span class="sxs-lookup"><span data-stu-id="72290-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="72290-107">Ha ellenőrizni szeretné a tartománya állapotát, menjen a [Microsoft 365 Felügyeleti központba.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="72290-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="72290-108">A kezdőlapon görgessen le, és keresse meg a **Számlázás kártyát.**</span><span class="sxs-lookup"><span data-stu-id="72290-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="72290-109">A **Számlázási** kártya az ellenőrzési folyamat állapotát jelzi (jóváhagyva, függőben, elutasítva, vagy tartomány hozzáadása).</span><span class="sxs-lookup"><span data-stu-id="72290-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="72290-110">Ha a kérelmét elutasította a rendszer, tekintse meg [Az iskolám nem jogosult. Mit tegyek?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="72290-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>