---
title: 8000038 GDPR gyermek számla ellenőrzése
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400971"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="93d68-102">Születési idő jelenik meg a Microsoft-fiók érvénytelen.</span><span class="sxs-lookup"><span data-stu-id="93d68-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="93d68-103">A Microsoft nagyon komolyan veszi a fiók biztonsági.</span><span class="sxs-lookup"><span data-stu-id="93d68-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="93d68-104">Lehet, hogy nemrég rendszer szülői hozzájárulást nyújt a Microsoft-fiók egy gyermek.</span><span class="sxs-lookup"><span data-stu-id="93d68-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="93d68-105">Segítséget nyújtó szülői hozzájárulást vagy a születési Microsoft-fiók frissítése, lásd a [beleegyezést kor ellenőrzését](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="93d68-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="93d68-106">Tudjon meg többet a [beleegyezést és Microsoft alárendelt fiókokat](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="93d68-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

