---
title: 8000038 GDPR gyermek számla ellenőrzése
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524413"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Születési idő jelenik meg a Microsoft-fiók érvénytelen.

A Microsoft nagyon komolyan veszi a fiók biztonsági. Lehet, hogy nemrég rendszer szülői hozzájárulást nyújt a Microsoft-fiók egy gyermek. Segítséget nyújtó szülői hozzájárulást vagy a születési Microsoft-fiók frissítése, lásd a [beleegyezést kor ellenőrzését](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Tudjon meg többet a [beleegyezést és Microsoft alárendelt fiókokat](https://go.microsoft.com/fwlink/p/?linkid=874365).
  