---
title: 8000038 GDPR gyermekfiók ellenőrzése
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764982"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Helytelen a Microsoft-fiókjában megjelenő születési dátum

A Microsoft nagyon komolyan veszi a biztonságot. Előfordulhat, hogy a közelmúltban a rendszer arra kérte, hogy adja meg a gyermek Microsoft-fiókjához szükséges szülői beleegyezést. Ha segítségre van szüksége a szülői beleegyezés megadásához vagy a születési dátum frissítéséhez egy Microsoft-fiókban, olvassa el az Életkor ellenőrzése a szülői beleegyezést című [témakört.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
További információ a szülői beleegyezésről és a [Microsoft-gyermekfiókokról.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  