---
title: 8000038 GDPR gyermekfiók ellenőrzése
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764982"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="eed6f-102">Helytelen a Microsoft-fiókjában megjelenő születési dátum</span><span class="sxs-lookup"><span data-stu-id="eed6f-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="eed6f-103">A Microsoft nagyon komolyan veszi a biztonságot.</span><span class="sxs-lookup"><span data-stu-id="eed6f-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="eed6f-104">Előfordulhat, hogy a közelmúltban a rendszer arra kérte, hogy adja meg a gyermek Microsoft-fiókjához szükséges szülői beleegyezést.</span><span class="sxs-lookup"><span data-stu-id="eed6f-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="eed6f-105">Ha segítségre van szüksége a szülői beleegyezés megadásához vagy a születési dátum frissítéséhez egy Microsoft-fiókban, olvassa el az Életkor ellenőrzése a szülői beleegyezést című [témakört.](https://go.microsoft.com/fwlink/p/?linkid=874364)</span><span class="sxs-lookup"><span data-stu-id="eed6f-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="eed6f-106">További információ a szülői beleegyezésről és a [Microsoft-gyermekfiókokról.](https://go.microsoft.com/fwlink/p/?linkid=874365)</span><span class="sxs-lookup"><span data-stu-id="eed6f-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  