---
title: 8000038 GDPR gyermekfiókok ellenőrzése
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056996"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>A Microsoft-fiókban megjelenő születési dátum helytelen.

A Microsoft nagyon komolyan veszi a biztonságot. Előfordulhat, hogy nemrégiben a rendszer szülői hozzájárulást kér egy gyermek Microsoft-fiókjához. Ha segítségre van szüksége a szülői hozzájárulás meg adni vagy egy Microsoft-fiók születési dátumának frissítéséhez, tekintse meg az Életkor igazolása szülői [hozzájáruláshoz részt.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
További információ a szülői hozzájárulásról és a [gyermek Microsoft-fiókokról.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  