---
title: A közzétevő ellenőrzésével kapcsolatos hibák elhárítása
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885056"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>A Publisher ellenőrzésével kapcsolatos problémák a fejlesztők számára

**Ajánlott lépések** 

A közzétevő ellenőrzésével kapcsolatos problémák megoldásához végezze el az alábbi lépéseket:

1. Ellenőrizze az előfeltételeket és az egyéb követelményeket, hogy mindegyik teljesül-e.
2. Az utasításokat ellenőrizve jelölje meg az [alkalmazásokat](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ellenőrzöttként, és győződjön meg arról, hogy minden lépés sikeres volt.
3. Tekintse át a gyakori problémák [listáját,](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) és kövesse az ajánlott lépéseket, ha ilyen listában található probléma.
4. A kérést a [Graph Explorerrel reprodukálva](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) további információkat gyűjthet, és kizárva a felhasználói felületen található esetleges problémákat.

**Ajánlott dokumentumok**

- [Publisher verification - overview](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Az alkalmazás megjelölése ellenőrzött közzétevőként](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [A közzétevő ellenőrzésével kapcsolatos hibák elhárítása](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

