---
title: A közzétevő ellenőrzésével kapcsolatos hibák elhárítása
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: hu-HU
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885056"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="62b82-102">A Publisher ellenőrzésével kapcsolatos problémák a fejlesztők számára</span><span class="sxs-lookup"><span data-stu-id="62b82-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="62b82-103">**Ajánlott lépések**</span><span class="sxs-lookup"><span data-stu-id="62b82-103">**Recommended steps**</span></span> 

<span data-ttu-id="62b82-104">A közzétevő ellenőrzésével kapcsolatos problémák megoldásához végezze el az alábbi lépéseket:</span><span class="sxs-lookup"><span data-stu-id="62b82-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="62b82-105">Ellenőrizze az előfeltételeket és az egyéb követelményeket, hogy mindegyik teljesül-e.</span><span class="sxs-lookup"><span data-stu-id="62b82-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="62b82-106">Az utasításokat ellenőrizve jelölje meg az [alkalmazásokat](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) ellenőrzöttként, és győződjön meg arról, hogy minden lépés sikeres volt.</span><span class="sxs-lookup"><span data-stu-id="62b82-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="62b82-107">Tekintse át a gyakori problémák [listáját,](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) és kövesse az ajánlott lépéseket, ha ilyen listában található probléma.</span><span class="sxs-lookup"><span data-stu-id="62b82-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="62b82-108">A kérést a [Graph Explorerrel reprodukálva](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) további információkat gyűjthet, és kizárva a felhasználói felületen található esetleges problémákat.</span><span class="sxs-lookup"><span data-stu-id="62b82-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="62b82-109">**Ajánlott dokumentumok**</span><span class="sxs-lookup"><span data-stu-id="62b82-109">**Recommended documents**</span></span>

- [<span data-ttu-id="62b82-110">Publisher verification - overview</span><span class="sxs-lookup"><span data-stu-id="62b82-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="62b82-111">Az alkalmazás megjelölése ellenőrzött közzétevőként</span><span class="sxs-lookup"><span data-stu-id="62b82-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="62b82-112">A közzétevő ellenőrzésével kapcsolatos hibák elhárítása</span><span class="sxs-lookup"><span data-stu-id="62b82-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

